AppInterface, #view {
    border: none;
    background: transparent;
}

ScrollArea {
    background-color: transparent;
    border: none;
}

SmoothScrollArea {
    background-color: transparent;
    border: none;
}

/* Tree panel */
TreePanel {
    background-color: transparent;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
}

TreePanel TreeWidget {
    background-color: transparent;
    border: none;
}

/* Content panel */
ContentPanel {
    background-color: transparent;
}

ContentPanel CommandBar {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

/* 左侧面板 - 透明背景 */
#left_panel_container {
    background-color: #FAFBFD;
    border: 1px solid rgba(200, 200, 205, 0.4);
    border-right: 1px solid rgba(200, 200, 205, 0.4);
    border-radius: 10px;
    /* 内边距 */
    padding: 10px;
    /* 外边距 */
    margin: 4px;
}

/* 左侧面板 - 透明背景 */
#right_panel_container {
    background-color: #FAFBFD;
    border: 1px solid rgba(200, 200, 205, 0.4);
    border-right: 1px solid rgba(200, 200, 205, 0.4);
    border-radius: 10px;
    /* 内边距 */
    padding: 10px;
    /* 外边距 */
    margin: 4px;
}