AppInterface, #view {
    border: none;
    background: transparent;
}

ScrollArea {
    background-color: transparent;
    border: none;
}

/* Tree panel */
TreePanel {
    background-color: transparent;
    border-right: 1px solid rgba(0, 0, 0, 0.06);
}

TreePanel TreeWidget {
    background-color: transparent;
    border: none;
}

/* Content panel */
ContentPanel {
    background-color: transparent;
}

ContentPanel CommandBar {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}
