PluginInterface, #view {
    border: none;
    background-color: transparent;
}

ScrollArea {
    background-color: transparent;
    border: none;
}

/* 左侧面板 */
#left_panel {
    background-color: rgba(245, 245, 245, 0.8);
    border-right: 1px solid rgba(200, 200, 200, 0.5);
}

/* 分割器 */
QSplitter::handle {
    background-color: rgba(200, 200, 200, 0.5);
}

QSplitter::handle:horizontal {
    width: 1px;
}


/* 标签 */
QLabel#platformToolsLabel {
    font: 33px 'Microsoft YaHei';
    font-weight: 300;
    background-color: transparent;
}
