AppInterface, #view {
    background-color: transparent;
}

ScrollArea {
    border: none;
    background-color: transparent;
}

SmoothScrollArea {
    background-color: transparent;
    border: none;
}

/* Tree panel */
TreePanel {
    background-color: transparent;
    border-right: 1px solid rgba(255, 255, 255, 0.06);
}

TreePanel TreeWidget {
    background-color: transparent;
    border: none;
}

/* Content panel */
ContentPanel {
    background-color: transparent;
}

ContentPanel CommandBar {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* 左侧面板 - 透明背景 */
#left_panel_container {
    background-color: #323232;
    border: 1px solid rgba(70, 70, 75, 0.4);
    border-right: 1px solid rgba(70, 70, 75, 0.4);
    border-radius: 10px;
    /* 内边距 */
    padding: 10px;
    /* 外边距 */
    margin: 4px;
}

/* 右侧面板 - 透明背景 */
#right_panel_container {
    background-color: #323232;
    border: 1px solid rgba(70, 70, 75, 0.4);
    border-right: 1px solid rgba(70, 70, 75, 0.4);
    border-radius: 10px;
    /* 内边距 */
    padding: 10px;
    /* 外边距 */
    margin: 4px;
}